<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<body>
    <h2 style="margin: .5em;">BOOKING PAGE</h2>
    <div style="margin: .5em;">
        <button onclick="go_back()">PREVIOUS PAGE</button>
    </div>
    <table style="border-collapse: collapse; border: 1px solid black; margin: .5em">
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 1em;">COMPETITION</th>
                <th style="border: 1px solid black; padding: 1em;">PLACES AVAILABLE</th>
                <th style="border: 1px solid black; padding: 1em;">MAX PLACES YOU CAN BOOK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid black; padding: 1em; auto; text-align: center;">{{competition['name']}}</td>
                <td style="border: 1px solid black; padding: 1em; auto; text-align: center;">{{competition['numberOfPlaces']}}</td>
                <td style="border: 1px solid black; padding: 1em; auto; text-align: center;">
                    {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        <ul>
                    {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
                </td>
            </tr>

        </tbody>
    </table>
    <form style="margin: .5em;" action="/purchase-places" method="POST">
        <input type="hidden" name="club_name" value="{{club['name']}}">
        <input type="hidden" name="competition_name" value="{{competition['name']}}">
        <label for="places">How many places? </label><input id="book_places" type="number" name="places" id="" min="1" max="{{maxi}}"/>
        <button id="button_book_places" type="submit">Book</button>
    </form>
    <script>
        function go_back() {
            window.history.back();
        }
    </script>
</html>