<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary | GUDLFT Registration</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
</head>
<body>
    <h2>Welcome, {{club['email']}} </h2>
    <div style="margin: .5em;">
        <form action="/logout">
            <button type="submit">LOGOUT</button>
        </form>
    </div>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{message|upper}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if club['info'] %}
            <table style="border-collapse: collapse; border: 1px solid black; margin: 1em">
                <thead>
                    <tr>
                        <th  colspan="2" style="border: 1px solid black; padding: 1em;">YOUR LAST BOOKING</th>
                    </tr>
                    <tr>
                        <th style="border: 1px solid black; padding: 1em;">ITEM</th>
                        <th style="border: 1px solid black; padding: 1em;">POINTS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in club['info'] %}
                        <tr >
                            <td style="border: 1px solid black; padding: 1em; text-align: center;">{{i[0]}}</td>
                            <td style="border: 1px solid black; padding: 1em; text-align: center;">{{i[1]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <table style="border-collapse: collapse; border: 1px solid black; margin: 1em">
            <thead>
                <tr>
                    <th  colspan="2" style="border: 1px solid black; padding: 1em;">YOUR CLUB REMAINING POINTS</th>
                </tr>
                <tr>
                    <th style="border: 1px solid black; padding: 1em;">CLUB</th>
                    <th style="border: 1px solid black; padding: 1em;">POINTS</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td style="border: 1px solid black; padding: 1em; text-align: center;">{{club['name']}}</td>
                    <td style="border: 1px solid black; padding: 1em; text-align: center;"><span id="club_points_left">{{club['points']}}</span></td>
                </tr>
            </tbody>
        </table>
        <ul>
            {% for comp in competitions|reverse %}
                {% if comp['date_stamp']|int > now|int %}
                    <h3>Competition:</h3>
                    <li>
                        {{comp['name']}}<br />
                        Date: {{comp['date']}}</br>
                        Number of Places: {{comp['numberOfPlaces']}}
                        {% if comp['numberOfPlaces'] %}
                            <form action="{{"/book/"+comp["name"]+"/"+club["name"] }}">
                                <input type="submit" value="BOOK" />
                            </form>
                        {% else %}
                            <p>SOLDOUT</p>
                        {% endif %}
                    </li>
                {% else %}
                    <h3 style="color: lightgray;">Past Competition:</h3>
                    <li style="color: gray;">
                        {{comp['name']}}<br />
                        Date: {{comp['date']}}</br>
                        <p>Remaining Unbooked Places {{comp["numberOfPlaces"]}}</p>
                    </li>
                {% endif %}
            <hr />
            {% endfor %}
        </ul>
    {%endwith%}
</body>
</html>